/* import fonts */
@import url(./fonts.css);

/* import variables */
@import url(./partials/_variables.css);

.site-main{
    text-align: center;
    background-color: lightpink;
}

.name h3{
    padding-top: 3%;
    font-weight: 500;
    color: rgb(255, 243, 243);
}

.name h1{
    font: normal 500 30px/30px var(--custom);
    color: whitesmoke;
    text-shadow: 0px -3px 0px rgba(0, 0, 0, 0.1);
}

.name h4{
    color: rgb(255, 243, 243);
    font-size: 1.5rem;
    font-style: italic;
}

.img::before{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    transform: translateY(-10px);
}

.img img:hover{
    padding-top: 5px;

    box-shadow: var(--box-shadow);
    transform: scale(1.1);
    filter: brightness(01.5);
}

.place h1{
    padding-top: 3%;
    font: normal 700 30px/30px var(--custom);
    border-radius: 5px;
}


.place img:hover{
    padding-top: 5px;
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
    filter: brightness(01.5);
}


.restaurant img{
    width: 40vw;
    border-radius: 5px;
}

.subscribe-area .subscribe{
    text-align: center;
    height: 30rem;
    width: 50rem;
    padding-top: 2%;
    background-color: lightblue;
    margin: 3rem auto;
    box-shadow: 5px -5px 0px rgba(0, 0, 0, 0.1);

}

.subscribe .subscribe-title h4{
    font: normal 700 30px/ 30px var(--custom);
    color: whitesmoke;
}

.subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}


.btn2 {
    text-decoration: none;
    display: inline-block;
    color:whitesmoke;
    border: 1px solid whitesmoke;
    margin: 5rem;
}

/* CSS */
.button-30 {
    margin: 20px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}